$mainColor: #fff;
$secondColor: #000;

/* p span h3 h2 h1 */
$fontsSizes: 1.6rem, 3.2rem, 6.4rem, 8.8rem, 8.8rem;
$lineHeights: 3.2rem, 3.2rem, 8.2rem, 7.0rem, 6.3rem;
$gap-row: 5vw;
$gap-column: 5vh;