@import "variable";
@import "mixin";
@import "base";
@import "function";

.container-headliner {
    @include containerSize(100, 100);
    background-color: $secondColor;
    padding: 0 $gap-row;
    padding-bottom: calc($gap-column*3);
    > svg {
        width: 100%;
        height: 200px;
        @include containerDisplay(Block);
        margin: 0 auto;
        margin-bottom: calc($gap-column*2);
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        pointer-events: none;
        .tangleMe {
            animation: wimpMe 5s infinite linear alternate;
        }
    }
    article {
        text-align: center;
        @include containerSize(50%, $hasHeight: false);
        margin: 0 auto;
        margin-bottom: calc($gap-column*3);
        h1 {
            color: $mainColor;
            margin: calc($gap-column/3) 0;
            span {
                color: $secondColor;
                -webkit-text-stroke-color: $mainColor;
                -webkit-text-stroke-width: 1px;
                font-size:clamp(calc(nth($fontsSizes, -1)/3), 2vw + calc( nth($fontsSizes, -1)/2), nth($fontsSizes, -1));
                display: inline-block;
            }
        }
        p {
            color: $mainColor;
        }
    }
    div {
        @include containerDisplay(flex, $jc: space-between);
        img {
            @include containerSize(6vw, 6vh, true);
        }
    }
}

@keyframes wimpMe { 
    0% { d: path("M 100 0 C 91 2 100 16 100 16 C 100 16 100 35 100 35 C 100 35 100 115 100 115");}
    16% {d: path("M 100 0 C 100 7 86 7 100 16 C 100 16 100 35 100 35 C 100 35 100 115 100 115");}
    32% {d: path("M 100 0 C 100 7 86 7 100 16 C 109 22 100 35 100 35 C 100 35 100 115 100 115");}
    48% {d: path("M 100 0 C 100 7 86 7 100 16 C 109 22 91 26 100 35 C 100 35 100 115 100 115");}
    64% {d: path("M 100 0 C 100 7 86 7 100 16 C 109 22 91 26 100 35 C 114 65 100 115 100 115");}
    80% {d: path("M 100 0 C 100 7 86 7 100 16 C 109 22 91 26 100 35 C 114 65 100 115 100 115");}
    100% {d: path("M 100 0 C 100 0 100 16 100 16 C 100 16 100 35 100 35 C 100 35 100 115 100 115");}
}
.btn {
    @include containerSize(117px, 55px, true);
    line-height: 2.3rem;
    font-size:clamp(calc(2rem/3), 2vw + calc(2rem/2), 2rem);
    text-transform: uppercase;
    padding: 1.6rem 3.2rem;
    border: 1px solid $mainColor;
    color: $mainColor;
    text-decoration: none;
    transition: background-color .5s, color .5s, border-color .5s;

    &:hover {
        border-color: $mainColor;
        background-color: $mainColor;
        color: $secondColor;
    }
}

.container-facts {
    @include containerSize(100, 100);
    color: $mainColor;
    background-color: $secondColor;
    padding: 0 $gap-row;
    @include backgroundImage('../img/map.svg', right 10% bottom 25%, no-repeat, 509px 617px);
    padding-bottom: calc($gap-column*4);

    article {
        @include containerSize(70%, $hasHeight: false);
        h2 {
            line-height: 11.3rem;
            margin-bottom: calc($gap-column*3);
        }
        h3 {
            margin-bottom: calc($gap-column);
        }
    }
}

.container-img-hell {
    @include containerDisplay(flex, center, center, column, nowrap);
    padding-top: calc($gap-column*2);
    img {
        @include containerSize(300px, 200px, true);
    }
    > img {
        &:nth-of-type(1) {
            margin-top: -20vh;
            margin-left: auto;
            margin-right: 160px;
        }
        &:last-of-type {
            margin-left: 25%;
            margin-bottom: -5%;
        }
    }
    article {
        @include containerDisplay(grid, $column: 3, $columnSize: 1fr);
        margin-bottom: calc($gap-column*3);
        &:nth-of-type(1) {
            @include containerSize(100, 70);
            div {
                @include containerDisplay(flex, center, center, column);
                h2 {
                    margin-bottom: $gap-column;
                }
            }
            img {
                @include containerSize(240px, 160px, true);
                &:nth-of-type(1) {
                    margin-left: 4rem;
                }
                &:nth-of-type(2) {
                    align-self: end;
                    justify-self: end;
                }
            }
        }
        &:nth-of-type(2) {
            img {
                @include containerSize(240px, 160px, true);
                margin-top: -$gap-column;
            }
        }
    }
    > div {
        @include containerSize(100%, 300px);
        @include containerDisplay(flex, $jc: space-around);
        margin-bottom: calc($gap-column*3);
        img {
            &:nth-of-type(1) {
                margin-left: $gap-row;
            }
            &:nth-of-type(2) {
                margin-left: $gap-row;
                align-self: end;
            }
        }
    }
}

.container-goldenbear {
    background-color: $secondColor;
    color: $mainColor;
    padding: 0 $gap-row;
    article {
        @include containerDisplay(flex, $jc: flex-start);
        padding-top: calc($gap-column*7);
        gap: calc($gap-row*2);
        div {
            @include containerSize(37%, $hasHeight: false);
            p {
                margin-bottom: $gap-column;
            }
        }
    }
    .img-wrapper {
        @include position(relative, $zIndex: 10);
        @include containerDisplay(flex, end, center);
        margin-bottom: calc($gap-column*(-2));
        img {
            @include containerSize(703px, 703px, true);
            &:nth-of-type(2) {
                @include containerSize(358px, 463px, true);
                margin-left: -$gap-row;
                margin-bottom: $gap-column;
            }
        }
    }
}

.container-rosebear {
    @extend .container-goldenbear;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: $secondColor;
    background-color: $mainColor;
    .img-wrapper {
        flex-direction: row-reverse;
        margin-bottom: calc($gap-column*3);
        img {
            &:nth-of-type(2) {
                z-index: 10;
                margin-left: 0;
                margin-right: -$gap-row;
            }
        }
    }
    .circle-banner {
        @include containerSize(45%, 45%);
        @include position(absolute, -20%, $right: -12%, $zIndex: 1);
        font-size:clamp(calc(nth($fontsSizes, 5)/3), 2vw + calc( nth($fontsSizes, 5)/2), nth($fontsSizes, 5));
    
        letter-spacing: 1.2rem;
        font-family: 'workSans';
        animation: spinMe 2.5s infinite linear;
    }
}

@keyframes spinMe { 
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.container-banner{
    background-color: $secondColor;
    color: $mainColor;
    padding: $gap-row;
    article {
        position: relative;
        div {   
            background-color: $mainColor;
        
            &:nth-of-type(1) {
                @include position(absolute, 0, $right: -5%, $zIndex: 0);
                @include containerDisplay(flex);
                transform: rotate(40deg); 
                width: 1200px;
                margin-right: calc($gap-row*(-4));
                h2 {
                    color: $secondColor;
                    padding: calc($gap-column/2) 0;
                    text-align: center;
                    animation: moveMe 4s 0s infinite linear; 

                    &:nth-of-type(2) {
                        @include position(absolute, 0, 0);
                        animation: moveMe 4s 2s infinite linear; 
                        transform: translateX(100%);
                    }
                    span {
                        color: $mainColor;
                        -webkit-text-stroke-color: $secondColor;
                        -webkit-text-stroke-width: 1px;
                        font-size:clamp(calc(nth($fontsSizes, -1)/3), 2vw + calc( nth($fontsSizes, -1)/2), nth($fontsSizes, -1));
                        line-height: nth($lineHeights, -1);
                    }
                }
            }
        
            &:nth-of-type(2) {
                @include containerSize(40%, $hasHeight: false);
                background-color: transparent;
                p {
                    margin-bottom: $gap-column;
                    &:nth-of-type(2) {

                        font-size:clamp(calc(nth($fontsSizes, 2)/3), 2vw + calc( nth($fontsSizes, 2)/2), nth($fontsSizes, 2));
                        line-height: nth($lineHeights, 2);
                    }
                } 
            }
        }
    }
}

@keyframes moveMe {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.footer {
    background-color: $secondColor;
    color: $mainColor;
    padding: 0 $gap-row;
    @include containerDisplay(flex, $jc: space-between);
    article {
        div {
            @include containerDisplay(flex);
            gap: 1vw;
            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
    
    > div {
        img {
            &:nth-of-type(1) {
                @include containerSize(8.5rem, 4.5rem, true);
            }
            &:nth-of-type(2) {
                @include containerSize(10.4rem, 3.2rem, true);
            }
        }
    }
}

footer {
    overflow: hidden;
}

@media only screen and (min-width:1400px) {
    .container-rosebear {
        .circle-banner {
            @include containerSize(40%, 40%);
        }
    }
}

@media only screen and (max-width:1200px) {
    .container-goldenbear {
        .img-wrapper {
            img {
                @include containerSize(calc(703px/1.5), calc(703px/1.5), true);
                &:nth-of-type(2) {
                    @include containerSize(calc(358px/1.5), calc(463px/1.5), true);
                }
            }
        }
    }
}

@media only screen and (max-width:900px) {
    .container-banner {
        article {
            div {
                &:nth-of-type(1) {
                    @include position(absolute, 0, $right: -10%, $zIndex: 0);
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    /* loop for responive lineheiths*/

    @for $i from 1 through length($lineHeights) {
        $lineHeight: nth($lineHeights, -$i);
        $lineHeight: calc($lineHeight/1.5);
        @if -$i == -5 {
            p {
                line-height: $lineHeight;
            }
        }
        @else if -$i == -4 {
            span {
                line-height: $lineHeight;
            }
        }
        @else { 
            h#{$i} {
            line-height: $lineHeight;
            }
        }
    }
    .container-facts {
        article {
            h2 {
                line-height: calc(11.3rem/1.5);
            }
        }
    }

    .container-headliner {
        article {
            @include containerSize(100%, $hasHeight: false);
        }
    }
    .container-goldenbear {
        .img-wrapper {
            img {
                @include containerSize(calc(703px/2.3), calc(703px/2.3), true);
                &:nth-of-type(2) {
                    @include containerSize(calc(358px/2.3), calc(463px/2.3), true);
                }
            }
        }
        article {
            flex-direction: column;
            div {
                @include containerSize(100%, $hasHeight: false);
            }
        }
    }
    .container-img-hell {
        img {
            @include containerSize(calc(300px/1.5), calc(200px/1.5), true);
        }
        article {
            grid-template-columns: 1fr;
            &:nth-of-type(2) {
                @include containerDisplay(grid, $column: 2, $columnSize: 1fr);
            }
        }
    }
    .container-banner {
        padding: 5vw 0;
        article {
            div {
                &:nth-of-type(1) {
                    @include position(static);
                    transform: rotate(0deg); 
                    min-width: 1%;
                    margin: 0;
                }
                &:nth-of-type(2) {
                    @include containerSize(100%, $hasHeight: false);
                    padding: 0 5vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .container-headliner {
        article {
            h1 {
                font-size: 3.4rem;
                span {
                    font-size: 3.4rem;
                }
            }
        }
    }
    .container-goldenbear {
        .img-wrapper {
            img {
                @include containerSize(calc(703px/3.3), calc(703px/3.3), true);
                &:nth-of-type(2) {
                    @include containerSize(calc(358px/3.3), calc(463px/3.3), true);
                }
            }
        }
    }
    .container-img-hell {
        > div {
            flex-direction: column;
            align-items: center;
        
        }
    }
}
